.header-wrapper{
    background-color: white;
    padding: 5px 0px;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 2;
}

.chats-body{
    padding: 10px 0px;
    padding-top: 100px;
}

.chats-body .header,
.chats-body .status-bar{
    padding: 0px 20px;
}

.chats-body{
    background-image: url("../images/chatbg.png");
    min-height: 1000vh;
}


.chat_write i{
    font-size: 22px;
}

.chat_write-column:nth-chid(2) {
    width: 80%;
}



.chat-screen .chat_messages{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    border-top: 1px solid #f7f7f7;
    padding: 0px 20px;


}

.chat_messages .chat_time-stamp{
    font-size: 12px;
    background-color: white;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
    text-transform: uppercase;
    font-weight: 700;
    

}

.message{
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.incoming-message img{
    width: 70px;
    border-radius: 20px;
    margin-right: 20px;

}

.incoming-message{
    align-self: flex-start;
}

.sent-message{
    align-self: flex-end;
}

.message .message_bubble{
   
    padding: 15px;
    border-radius: 30px;
    background-color:white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
    font-weight: 700;
    display: block;
    
    
}

.chat_write-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #fcfcfc;
    /*box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;*/
    bottom: 0px;
    position: fixed;
    left: 0;
   right: 0;
   width: 100%;
 

}

.chat_write{
    bottom: 0px;
    width: 100%;
    border-radius: 0;
    padding: 20px 60px;
    width: 100%;
    border: none;
    font-size: 14px;
    margin: 0 auto;
    transition:  all 0.5s ease-in-out, box-shadow 0.5s ease-in-out,
    border-radius 0.5s ease-in-out, transform 0.5s ease-in-out;

}

.chat_icon-left{
    left: 20px;
    position: absolute;
    
}



.chat_write:focus{
    outline: none;
    width: 80%;
    transform: translateY(-100px);
    border-radius: 40px;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    animation: float 2s linear infinite forwards;

}

.chat_icon{
    font-size: 18px;
    transition: opacity 0.3s ease-in-out;
}

.chat_write:focus ~ .chat_icon {
    opacity: 0;
}



.incoming-message .message_author{
    margin-bottom: 15px;
    display: block;
    font-weight: 700;
    font-size: 18px;
    margin-top: 10px;
}

.incoming-message .message_bubble{
    border-bottom-left-radius: 0px;
    background-image: repeating-linear-gradient(to right, #C6FFDD,#FBD786,#f7797d);
}

.sent-message .message_bubble{
    border-bottom-right-radius: 0px;
    background-image: repeating-linear-gradient(to left, #C6FFDD,#FBD786,#f7797d);
}

.message .message_time-stamp{
    margin: 10px;
}


.chat_write{
    bottom: 0px;
    width: 100px;
    border-radius: 0;

}



@keyframes float {
    0%{box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
        0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);}

    50%{box-shadow: 0 30px 60px -40px rgba(50, 50, 93, 0.25),
        0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);}

    100%{box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
        0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);}
}


@keyframes incomA{
    from{opacity: 0;
    transform: translateX(-200px);}
    to{opacity: 1;
    transform: none;}
}

.incoming-message{
    animation: incomA 1s ease-out forwards;
}

@keyframes sentA{
    from{
        opacity: 0;
        transform: translateX(200px);
    }
    to{opacity: 1;
        transform: translateX(none);

    }
}

.sent-message{
    animation: sentA 1s ease-out forwards;
}