.bigScreen{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/flfl.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 700;
    font-size: 28px;
    color: black;
    padding: 0px 20px;
    text-align: center;
    line-height: 1.5;
    display: none;
    z-index: 4;



}


@media screen and (min-width:550px) {
    .bigScreen{
        display: flex;
    }
}